.imagen {
    margin-bottom: 8px;
    width: 20%;

    img {
        width: 100%;
    }
}

.texto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: grey;
}

.entorno {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}